.pages {
    cursor: pointer;
}

.pageNumber {
    border: 1px solid silver;
}

.selectedPage {
    font-weight: bold;
    border: 3px solid #1941d1;
}

.paginator {
    display: flex;
}

.btnNext {
    margin-left: 5px;
    padding: 3px;
}

