
.profile img {
    width: 100%;
}

.descriptionBlock {
    padding: 10px;
}

.descriptionBlock img {
    height: 100px;
    weight: 100px;
}

.descriptionBlock img {
    width: auto;
}

.status{
    margin-top: 10px;
    width: 200px;
}

.profile_status {
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}