
.profile img {
    width: 100%;
}

.descriptionBlock {
    padding: 10px;
}

.descriptionBlock img {
    height: 100px;
    width: 100px;
}

.status{
    width: 200px;
    margin-bottom: 10px;
}

.profile_status {
    border-radius: 10px;

}

.addAva {

}

.contact {
    padding-left: 10px;
}

.editProfile {
    padding: 10px;
}

.editProfileElement {
    background-color: #d0e2f2;
    width: 200px;
    padding: 10px;
    margin: 10px 10px 10px 0;
    border: 1px solid silver;
    border-radius: 10px;
}

.wrapper1 {
  display: flex;
}
.wrapper2 {
    display: flex;
}

textarea {
    resize: vertical;
    height: 50px;
}

