
.profile img {
    width: 100%;
}

.descriptionBlock {
    padding: 10px;
}

.descriptionBlock img {
    height: 100px;
    width: 100px;
}

.status{
    width: 200px;
    margin-bottom: 10px;
}

.profile_status {
    border-radius: 10px;

}

.addAva {

}

.contact {
    padding-left: 10px;
}