.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems a.active {
    color: gold;
}

.dialogsItems a {
    text-decoration: none;
    color: greenyellow;
}

.messages {
    padding: 10px;
}

.messages .message {

}

.ava {
    display: flex;
    justify-content: space-around;
    padding: 10px;


}

.ava img {
    width: 50px;
    height: 50px;

}

.dialog .active {
    display: flex;
    background-color: red;
}



